

@import "/src/styles.scss";

.optional-filter {
  cursor: pointer;
  position: relative;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-bottom: solid 0.1rem $color-primary;
  
  @media (min-width: 376px) {
  }

  &-label {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 0.9rem;
      padding: .4rem;

      @media (min-width: 376px) {
        font-size: 1.1rem;
      }
    }
    i {
      font-size: 1.2rem;
      padding-right: 1.5rem;
      padding-top: 0.4rem;
    }
  }

  &-options {
    width: 100%;
    position: absolute;
    list-style: none;
    z-index: 5;
    top: 110%;
    left: 0;

    li {
      //margin: 0.25rem;
      padding: 0.2rem 1rem;
      background-color: white;
      // color: $header_font_color;
      cursor: pointer;
      text-transform: capitalize;
      &:hover {
        background-color: lighten($color-primary, 20%);
      }
    }
  }
}
