


.optional-filter {
  cursor: pointer;
  position: relative;
  //margin-top: 1rem;
  padding: 0.7rem;

  @media (min-width: 376px) {
    
  }

  &-label {
    display: flex;
    justify-content: space-between;
    span{
      font-size: 1.1rem;
      //padding: .8rem;
    }
    i{
      font-size: 1.2rem;
      padding-right: 1rem;
      padding-top: 0.4rem;
    }
  }

  &-options {
    width: 100%;
    position: absolute;
    list-style: none;
    z-index: 5;
    top: 110%;
    left: 0;

    li {
      //margin: 0.25rem;
      padding: 0.2rem 1rem;
      background-color: rgb(245, 245, 245);
      cursor: pointer;
      &:hover {
        background-color: white;
      }
    }
  }
}
