<div *ngIf="makeupData ">
    <footer class="footer">

        <div class="footer-section left">
            <div>
                <h4>Makeup</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Nostrum expedita officiis officia maiores enim,
                    consectetur dolorum architecto natus nesciunt
                    distinctio ex deleniti molestiae .</p>
            </div>


        </div>

        <div class="footer-section">
            <h4> tag list </h4>
            <div *ngFor="let tag of makeupData" class="footer-tag">
                <p class="capitalize">
                    {{ tag }}
                </p>
            </div>
        </div>

    </footer>

    <aside class="footer-bottom">
        <ul >
            <li> <a >HOME</a> </li>
            <li> <a >CONTACT</a></li>
            <li> <a >ADRESS</a></li>
        </ul>
    </aside>
</div>