@import "/src/styles.scss";

.footer {
  background-color: lighten($color-primary, 5%);
  font-size: $root_font_size;
  color: black;
  display: flex;

  @media (min-width: 376px) {
    display: flex;
  }

  &-section {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    @media (min-width: 376px) {
      padding: 1rem 2rem;
      p {
        font-size: 1rem;
      }
    }
  }

  &-tag {
    padding: 0.05rem;

    @media (min-width: 376px) {
      padding: 0.4rem;
    }
    p.capitalize {
      text-transform: capitalize;
    }
  }
}

ul {
  li {
    font-weight: bold;
    list-style: none;
    padding: 1.5rem 4rem;
    font-size: 1.1rem;
    a {
      color: white;
    }
  }
}

.footer-bottom {
  background-color: rgb(146, 78, 135);
  font-size: 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    @media (min-width: 376px) {
      width: 25%;
      margin-left: 3rem;
    }
  }

  li {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;

    @media (min-width: 376px) {
      font-size: 1rem;
      padding: 1rem 0;
      text-align: left;
    }

    a {
      text-decoration: none;
      &:hover {
        border-bottom: solid 2px white;
      }
      @media (min-width: 376px) {
      }
    }
  }
}
