@import "/src/styles.scss";

.makeup {
  h4 { padding-left: 2rem; font-weight: bold; }
  p { padding: 0.25rem; }

  padding-top: 4rem;
  margin-bottom: 2rem;
  font-size: $root_font_size;
  font-size: 1.1rem;
  margin: 2rem 100px 200px 100px;
 
  @media screen and (max-width: 376px) {
    h4{ padding: 0.5rem 1rem; }
    padding-top: 2rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 350px;
    
    img {
     
    }
  }

  &-layout {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 376px) {
      display: grid;
    }
  }
 
  &-img {
    width: 500px; //szerokosc
    height: 360px; // wysokosc
    text-align: center;

    @media screen and (max-width: 376px) {
      width: 350px; //szerokosc
      height: 280px; // wysokosc
    }

    img {
      width: auto;
      height: 85%;
      object-fit: contain;
      @media screen and (max-width: 376px) {
       width: 70%;
      }
    }
  }

  &-detail {
    width: 50%;
    @media screen and (max-width: 376px) {
     width: 90%;
     padding-left: 2rem;
    }
  }

  &-info {
    p {
      text-transform: capitalize;
    }
    display: flex;
    justify-content: space-between;
  }

  &-section {
    span {
      font-size: 15px;
      font-weight: 800;
    }
    margin: 1rem 0;
    width: 50%;
  }

  &-description {
    span {
      font-size: 15px;
      font-weight: 800;
    }
    margin-top: 1.2rem;
    @media screen and (max-width: 376px) {
     }
  }
}
.product-colors-title p {
  margin: 1rem;
  font-size: 15px;
  font-weight: 800;
}

.product-colors {
  margin: 0 1rem;
  color: $header_font_color;
  text-align: center;
  font-size: $root_font_size;

  &-hex {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.3rem;
    grid-template-columns: repeat(6, 1fr);
    @media screen and (max-width: 376px) {
      display: block;
     }
  }

  .hex-mode {
    margin: 0.2rem 0;
    padding: 0.3rem 0;
    font-size: $root_font_size;
    border-radius: 0.2rem;
    text-align: center;
    align-items: center;
    margin: 0.2rem 0;
    padding: 0.3rem 0;
    color: $header_font_color;
  }
}
