.containerNav {
  width: 80%;
  margin: 0 auto;

  nav {
    .navTop {
      margin: 20px auto 20px 100px;
      h2 a {
        text-decoration: underline;
        color: #686666;
      }
    }

    .navbar {
      margin: 0 auto;
      margin-top: 25px;
      //  position: fixed; /* Make it stick/fixed */
      //top: 0; /* Stay on top */
      width: 85%; /* Full width */
      transition: top 0.3s; /* Transition effect when sliding down (and up) */
      // height: 90px;
      justify-content: flex-start;
    // border: solid 2px green;

       a:first-child {
        margin-left: 50px;
      }
   
      a {
        margin-right: 25px;
        font-size: 15px;
        color: black;
        text-decoration: none;
      }

      .login {
        position: absolute;
        right: 0;
        a {
          right: 0;
          font-size: 12px;
          color: #5b5959;
          text-decoration: underline;
        }
      }
    }

    .navbar a:hover,
    .nav a:hover {
      text-decoration: underline;
    }
  }

  /* Style the navbar links */

  .dentro {
    // height: 40px;
    //margin: 0 auto;
  }

  .nav {
 border-bottom: solid 0.2px rgb(137, 134, 134);
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    margin: 0 auto;
    
    a {
     color: black;
      font-size: 14px;
      justify-content: flex-start;
      margin-right: 25px;
      margin-top: 20px;
      text-decoration: none;
    }

    .login {
        position: absolute;
        right: 0;
        margin-top: 20px;
      a {
        margin-right: 30px;
        font-size: 12px;
        color: #7b7979;
        text-decoration: underline;
      }
    }
  }

  input {
    margin: 20px 20px 10px 20px;
  }

  .nav a:first-child {
    margin-left: 40px;
  }
  .nav a:nth-child(6) {
    position: absolute;
   text-align: center;
  }

  hr {
    border: none;
    height: 0.3px;
    /* Set the hr color */
    color: #575656; /* old IE */
    background-color: #575656; /* Modern Browsers */
  }
}
