<div class="containerNav">
  <nav>
    <div class="navTop" >
        <h2><a [routerLink]="['/']"><header>MakeUp</header> </a> </h2>
        
    </div>
    
<!-- 
    <div *ngIf="!sticky; else navbarScroll"> -->
       
      <div class="navbar">
        
        <a [routerLink]="'/home'" [routerLinkActive]="['active']">Products</a>
        <a [routerLinkActive]="['active']">About</a>
        <a [routerLinkActive]="['active']">News</a>
        <a [routerLinkActive]="['active']" >Contact</a>
        <a [routerLinkActive]="['active']">Others</a>
        <div class="login">
          <a [routerLink] ="['/login']">Register&nbsp;/&nbsp;Login</a>
        </div>
      </div>
   
    <hr />

</nav>
</div>
