<div class="containerNav">
  <nav>
    <div>
       <h2><a [routerLink]="['/']"><header>MakeUp</header> </a> </h2> 
    </div>
    <div>
      <ul>
        <li><a [routerLink]="'/home'" [routerLinkActive]="['active']">Products</a></li>
        <li><a [routerLinkActive]="['active']">About</a></li>
        <li><a [routerLinkActive]="['active']">News</a></li>
        <li><a [routerLinkActive]="['active']">Contact</a></li>
        <li><a [routerLinkActive]="['active']">Others</a></li>
        <li><a [routerLink]="['/login']">Register&nbsp;/&nbsp;Login</a></li>
      </ul>
    </div>
    <div class="hr">
      <hr />
    </div>
  </nav>
 
</div>