@import "/src/styles.scss";
    
h4 {
    margin-bottom: 20px;
}
      .form-group {
          width: 500px;
          margin-bottom: 20px;
         
      }

      button {
        padding: 0.4rem 2rem;
        margin-bottom: 4rem;
        cursor: pointer;
        border: none;
        outline: none;
        border: solid 0.05rem $color-primary;
      
        background-color: $color-primary;
        border-radius: 0.2rem;
        &:hover {
          background: lighten($color-primary, 7%);
          color: white;
        }
      
      }

      button:disabled {
        background: lighten($color-primary, 12%);
        border: solid 0.05rem $color-primary;
        cursor: no-drop ;
      }
    


