@import "/src/styles.scss";

h4 {
  margin-bottom: 20px;
}
.form-group {
  width: 500px;
  margin-bottom: 20px;
}

input[type="button"],
input[type="submit"] {
  padding: 0.4rem 0;
  width: 100px;
  margin: 1.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  border: solid 0.05rem $color-primary;
  background-color: $color-primary;
  border-radius: 0.2rem;
  color: white;
}
input[type="submit"],
[type="button"] {
  &:hover {
    background: darken($color-primary, 26%);
  }
}

input[type="submit"]:disabled {
  background: lighten($color-primary, 10%);
  cursor: no-drop;
  &:hover {
    background: lighten($color-primary, 10%);
  }
}
