<h4 >Register</h4>

<div class=" form-group col-md-4 mx-auto">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit() " novalidate>

        <div>
            <label  for="username" class="col-sm-4 col-form-label ">Username</label>
            <input type="text" id="username" class="form-control "
                [class.is-invalid]="username.invalid && username.touched" formControlName="username">
            <div *ngIf="(username.touched && username.invalid) || username.dirty" class="text-danger">
                <small *ngIf="username.errors?.required">Username is required.<br></small>
                <small *ngIf="username.errors?.minlength">Username should be minimum
                    {{ username.errors.minlength.requiredLength}} characters. <br></small>
                <small *ngIf="username.errors?.maxlength">Username should be maximum
                    {{ username.errors.maxlength.requiredLength}} characters.<br></small>
                <small *ngIf="username.errors?.cannotContainsSpace">Username cannot contain space.</small>
            </div>
        </div>

        <div>
            <label for="password" class="col-sm-4  col-form-label ">Password</label>
            <input type="password" id="password" class="form-control "
                [class.is-invalid]="password.invalid && password.touched" formControlName="password">
            <div *ngIf="(password.touched && password.invalid) || password.dirty" class="text-danger">
                <small *ngIf="password.errors?.required">Password is required.<br></small>
                <small *ngIf="password.errors?.hasUpper">Password should be 1 upper letter.<br></small>
                <small *ngIf="password.errors?.minlength">Password should be minimum
                    {{ password.errors.minlength.requiredLength}} characters.<br></small>
                <small *ngIf="password.errors?.hasNumber">Password should be minimum 1 number.<br></small>
            </div>
        </div>

        <div>
            <label for="confirmPassword" class="col-sm-10 col-form-label ">Confirm password</label>
            <input type="password" id="confirmPassword" class="form-control "
                [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"
                formControlName="confirmPassword">
            <div *ngIf="(confirmPassword.touched && confirmPassword.invalid) || confirmPassword.dirty"
                class="text-danger">
                <small *ngIf="confirmPassword.errors?.required">Confirm password is required. <br></small>
                <small *ngIf="confirmPassword.errors?.mustMatch">Password and confirm not match<br>
                </small>
            </div>
        </div>

        <div>
            <label class="col-sm-4  col-form-label ">Phone</label>
            <input formControlName="phone" class="form-control " [class.is-invalid]="phone.invalid && phone.touched" />
            <div *ngIf="(phone.touched && phone.errors) || phone.dirty" class="text-danger">
                <small *ngIf="phone.errors?.required">Phone is required. <br></small>
                <small *ngIf="phone.errors?.onlyNumber">Phone must be a only integer numbers.</small>
            </div>
        </div>

        <div>
            <label class="col-sm-4  col-form-label ">Email</label>
            <input type="text" formControlName="email" class="form-control "
                [class.is-invalid]="email.invalid && email.touched" />
            <div *ngIf="(email.touched && email.errors) || email.dirty" class="text-danger">
                <small *ngIf="email.errors?.required">Email is required. <br></small>
                <small *ngIf="email.errors?.email">Email must be a valid email address.</small>
            </div>
        </div>

        <div class="text-center">
            <input value="Submit" type="submit" [disabled]= "!userForm.valid">
            <input value="Reset" type="button" [disabled] = "!userForm.dirty" (click)="onReset()">
        </div>
    </form>

    <div>
        <a class="loginBtn" [routerLink]="['/login']">Back to Login</a>
    </div>

    <div class="col-md-6 mx-auto">
    <div>userForm.valid = <span>{{userForm.valid }}</span> </div>
    <div>userForm.invalid= <span>{{userForm.invalid }}</span> </div>
    <div>userForm.status = <span>{{userForm.status }}</span> </div>
    <div>userFLogin.touched = <span>{{userForm.touched }}</span> </div>
    <div>userFLogin.dirty = <span>{{userForm.dirty }}</span> </div>
</div> 
</div>

 