<section>
  <a class="linkA"  [routerLink]="'/' + makeupI.id" rel="noopener noreferrer">
    <div *ngIf="makeupI" class="makeup-card">
      <div class="makeup-card-img">
        <img img
          [src]="makeupI.image_link"
          (error)="pictNotLoading($event)"
        />
      </div>

      <div class="makeup-card-info">
          <h5> <b>{{ name }}</b> </h5>
          <p><strong>Brand: </strong> {{ makeupI.brand }}</p>
          <p><strong>Category: </strong> {{ makeupI.category }}</p>
          <p><strong>Product type: </strong> {{ makeupI.product_type }}</p>
      </div>
    </div>
  </a>
</section>
