@import "/src/styles.scss";

/*Navbar Responsive Styles in progress */

.containerNav {
  width: 90%;
  margin: 0 auto;

  .active {
    text-decoration: underline solid #686666 0.5px;
    
  }

  &:nth-child(1)h2   a {
    @extend .active;

    &:hover {
      @extend .active;

    }
  }

  nav {

   

    a>header {
      width: 80%;
      margin: 0 auto;
      //text-decoration: underline solid #686666 0.5px;
      color: #686666;
      padding: 20px 0;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      //  position: fixed; /* Make it stick/fixed */
      //top: 0; /* Stay on top */
      /* Full width */
      transition: top 0.3s;

      li {
        list-style-type: none;
        flex-grow: 1;

        // Register/ Login ul
        &:nth-of-type(6) {
          flex-grow: 4;
          position: relative;
          padding-right: 20px;
          text-align: right;
        }

        // Register/ Login  a
        &:nth-child(6) a {
          font-size: 12px;
          color: #686666;
        }

        a {
          color: #686666;
          font-size: 14px;

          &:hover {
            @extend .active
          }
        }
      }
    }
  }

  .hr {
    padding-left: 10%;
    padding-right: 10%;
  }

  div>hr {
    margin: 1rem 0;
    // border: none;
    height: 0.3px;
    /* Set the hr color */
    color: #575656;
    background-color: #575656;
  }

  .navbarScroll {
    // border: solid 1px black;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0;
    transition: top 0.5s;

    /* Transition effect when sliding down (and up) */
    ul {
      width: 80%;
      height: 80px;
      //border: solid 2px rgb(243, 10, 10);
      display: flex;

      .active {
        @extend .active
      }

      input {
        outline: none;
        width: 140px;
        border: none;
        flex-grow: 0;
        border-bottom: solid 1px #686666;

        &:focus {
          //  border: none;
        }
      }

      li {
        // border: solid 1px black;
        list-style-type: none;
        flex-grow: 1;

        // Register/login ul
        &:nth-child(6) {
          flex-grow: 5;
          position: relative;
          text-align: right;
          padding-right: 20px;
        }

        // Li name NEwS
        &:nth-child(4) {
          padding-top: 50px;
          font-size: 14px;
        }

        // Register/login a
        &:nth-child(6) a {
          font-size: 12px;
        }

        // Makeup logo 
        &:first-child a {
          // border: solid 1px black;
          font-size: 30px;
          // font-weight: 500;

          color: #686666;
          @extend .active;
        }

        a {
          text-decoration: none;
          color: #686666;
          font-size: 14px;

          &:hover {
            @extend .active
          }
        }
      }
    }
  }
}

// End Navbar

//itemsFound

.itemsFound {
  font-size: 14px;
}

section {
  .errorMessage {
    padding: 50px;
    font-size: 14px;
  }

  .content {
    display: flex;
    margin: 30px auto 32px;
    padding: 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    //  border: 2px solid rgb(233, 236, 16);
    margin-bottom: 200px;
  }

  .card-container {
    // border: 2px solid rgb(14, 142, 72);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    padding-top: 30px;
  }

  // new css imput search
  .makeup-filters1 {
    margin-bottom: 40px;

    input {
      width: 180px;
      border: none;
      border-bottom: solid 1px #686666;
      outline: none;


      &[type="text"]::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $placeholder-color;
        font-size: $placeholder-font_size;
      }

      &[type="text"]::-moz-placeholder {
        /* Firefox 19+ */
        color: $placeholder-color;
        font-size: $placeholder-font_size;

      }

      &[type="text"]:-ms-input-placeholder {
        /* IE 10+ */
        color: $placeholder-color;
        font-size: $placeholder-font_size;

      }

      &[type="text"]:-moz-placeholder {
        /* Firefox 18- */
        color: $placeholder-color;

      }
    }
  }



  .makeup-filters {
    width: 90%;
    //width: 300px;
    //margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .search-filter {}

    input {
      width: 140px;
      border: none;
      border-bottom: solid 1px red;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
    }
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .content {
      margin-bottom: 350px;
    }

    .card-container {
      width: 100%;
      //  border: 2px solid rgb(14, 27, 142);
    }
  }

  @media screen and (max-width: 575px) {
    .content {
      margin-bottom: 230px;
    }

    .card-container {
      display: grid;
      width: 100%;
      // border: 3px solid black;
    }

    .makeup-filters {
      width: 100%;
      //x-width: 350px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      // border-bottom: solid 1px $color-primary;

      input {
        width: 100%;
        font-size: 12px;

        &:placeholder-shown {
          font-size: 12px;
        }
      }
    }

    .search-filter {
      margin: 0;
      padding: 0;
      //width: 300px;
      padding-bottom: 16px;
    }
  }

  @media screen and (max-width: 375px) {
    .content {
      // margin-bottom: 230px;
    }
  }

  .my-pagination {
    font-size: 1.2rem;
    margin-top: 20px;

    @media screen and (max-width: 575px) {
      font-size: 0.9rem;
      //text-align: center;
    }
  }

  // .content .angle-double {
  //     a {
  //       text-align: right;
  //       font-size: 4rem;
  //     }

  //     @media screen and (max-width: 575px) {
  //       padding-right: 40px;

  //       i {
  //         color: darken($color-primary, 7%);
  //         font-size: 3rem;
  //       }
  //     }
  //   }
}

// .other_content {
//   padding-top: 150px;
//   text-align: center;
//   font-size: 18px;

//   span {
//     color: red;
//     text-transform: uppercase;
//     font-weight: bold;
//   }
// }