@import "/src/styles.scss";

section {
  margin: 1rem;

  @media (min-width: 376px) {
    margin: 1.5rem;
  }

  .loader {
    margin: 5rem 0;
    text-align: center;
  }

  .makeup-card {
    padding: 1rem;
    display: grid;
    row-gap: 1rem;

    @media (min-width: 376px) {
      padding: 2rem;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
    }
  }

  .makeup-filters {
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
   
    @media (min-width: 376px) {
      margin: 2rem 4rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .search-filter {
    margin-bottom: 1rem;
    border: solid 0.1rem $color-primary;

    @media (min-width: 376px) {
      width: 20%;
      margin-bottom: 0;
    }

    input {
      padding: 0.6rem 0 0.6rem 1.4rem;
      font-size: 0.9rem;
      border: none;
      outline: none;
      width: 75%;

      @media (min-width: 376px) {
        font-size: 1rem;
      }
  
    }
  }
  app-optional-filter {
    width: 100%;
    @media (min-width: 376px) {
      width: 20%;
    }
  }

  .my-pagination {
    text-align: center;
    //padding: 4rem;
    font-size: 0.9rem;

    @media (min-width: 376px) {
      font-size: 1.3rem;
    }
  }

  .angle-double {
    text-align: right;
    padding-right: 20px;
    
    i {
      color: $color-primary;
      font-size: 2.5rem;
    }
    @media (min-width: 376px) {
      padding-right: 40px;
      i {
        font-size: 3rem;
      }
    }
  }
}
