/* You can add global styles to this file, and also import other style files */

@import "/src/scss/variables";
@import "/src/scss/typography";



* {
  margin: 0;
  padding: 0;
}

// body {
//   font-family: "Nunito Sans", sans-serif;
//   font-size: 0.9rem;
//   font-weight: 300;
// }

.shadow {
    //box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);;
  }
    